<!doctype html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>{{ global.site_title }}</title>
		<meta name="description" content="Враження від забігів, подорожі на старти, результати та статистика рядового бігуна, який мріє бігати як професіонал"/>
	{% endblock %}

	<!-- Preload start -->
	<link rel="preload" href="/wp-content/themes/run/theme/dist/styles/main.css?ver={{ global.theme_version }}" as="style" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/scripts/main.js?ver={{ global.theme_version }}" as="script" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/fonts/subset-Montserrat-Black.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/fonts/subset-Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/fonts/subset-Montserrat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/fonts/subset-Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/fonts/subset-SourceSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/wp-content/themes/run/theme/dist/fonts/subset-SourceSansPro-Semibold.woff2" as="font" type="font/woff2" crossorigin>
	<!-- Preload end -->

	<meta name="color-scheme" content="dark">
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000">

	<link rel="canonical" href="{{ global.canonical }}" >
    <link rel="stylesheet" type="text/css" href="/wp-content/themes/run/theme/dist/styles/main.css?ver={{ global.theme_version }}" media="all">
    <link rel="stylesheet" type="text/css" href="/wp-content/themes/run/theme/dist/styles/dark-theme.css?ver={{ global.theme_version }}" media="(prefers-color-scheme: dark)">


	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-V9GTD3693B"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-V9GTD3693B');
	</script>

	{% include "templates/partials/favicon.twig" %}

</head>
<body class="body">
<div class="layout">
    {% include "templates/partials/header.twig" %}
    {% include "templates/partials/main-nav-toggle.twig" %}
    {% include "templates/partials/main-nav.twig" %}

    {% block content %}
    {% endblock %}

</div>
{% include "templates/partials/footer.twig" %}

<script src="/wp-content/themes/run/theme/dist/scripts/main.js?ver={{ global.theme_version }}"></script>

{% block footer %}
{% endblock %}
</body>
</html>
