{% if last_results is defined and last_results is not empty %}
	<section class="last-results last-results--main">
		<h3 class="last-results__heading">Последние результаты</h3>
		<div class="last-results__content">
			<ul class="last-results__list">
				{% for result in last_results %}
					<li class="last-results__item">
						<div class="last-results__event last-results__event--race-nation">
							<span class="last-results__event-date">{{ result.event_date }}</span>
							<div class="last-results__event-title">{{ result.title }}
								{% if result.category is not empty %}
									<br> <span>({{ result.category }})</span>
								{% endif %}
							</div>
							<div class="last-results__event-distance"><span>{{ result.distance }}</span> км</div>
						</div>
						<div class="last-results__result">
							{% if result.place_overall is not empty and result.place_overall != '--/--' %}
								<span class="last-results__place">{{ result.place_overall }} (абс)</span>
							{% endif %}
							<span class="last-results__time">{{ result.time }}</span>
							{% if result.is_pb %}
								<div class="last-results__info">
									<span class="last-results__personal-best">ЛР</span>
									<span class="last-results__diff">{{ result.diff }}</span>
								</div>
							{% endif %}
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endif %}
