{% if latest_posts is not empty %}
	<div class="latest-posts">
		<div class="wrapper latest-posts__wrapper">
			<div class="latest-posts__holder">
				<h2 class="latest-posts__heading">Последние записи</h2>
				<ul class="latest-posts__list">
					{% for article in latest_posts %}
						<li class="latest-posts__item">
							<span class="latest-posts__date">{{ article.date }}</span>
							<h3 class="latest-posts__title"><a href="{{ article.permalink }}">{{ article.title }}</a></h3>
							<p class="latest-posts__excerpt">{{ article.excerpt }}</p>
							{% if article.categories is not empty %}
								<ul class="latest-posts__categories">
									{% for category in article.categories %}
										<li class="latest-posts__categories-item">
											<a href="{{ category.permalink }}"
											   class="latest-posts__categories-link">{{ category.title }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>

			{% include "templates/partials/front-page/popular-posts.twig" %}
		</div>
	</div>
{% endif %}
