{% if last_events is defined and last_events is not empty %}
	<section class="starts">
		<h3 class="starts__heading">Ближайшие старты</h3>
		{% for state in last_events %}
			<h3 class="starts__list-title">{{ state.title }}:</h3>
			<ul class="starts__list starts__list--{{ state.type }}">
				{% for event in state.events %}
					<li class="starts__item">
						<span class="starts__date">{{ event.date }}</span>
						<div class="starts__header">
							<span class="starts__place">{{ event.place }}</span></div>
						<div class="starts__link-holder">
							<a href="{{ event.url }}" class="starts__link" target="_blank">{{ event.title }}</a>
						</div>
						<div class="starts__event-distance"><span>{{ event.distance }}</span> км</div>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</section>
{% endif %}
