{% if activities is not empty %}
<section class="training">
    <header class="training__header">
        <div class="training__header-layout">
            <h2 class="training__heading">Мои тренировки</h2>
            <a href="https://www.strava.com/athletes/34095188" title="Мой профиль в Strava" class="training__strava-logo" target="_blank">
                <img src="/wp-content/themes/run/theme/dist/images/strava-logo.svg" alt="Strava">
            </a>
        </div>
    </header>

    <ul class="training__list">
		{% for activity in activities %}
        <li class="training__item">
            <div class="training__item-header">
                <h3 class="training__title"><a href="https://www.strava.com/activities/{{ activity.id }}/overview" target="_blank">{{ activity.name }}</a></h3>
                <span class="training__date">{{ activity.date }}</span>
            </div>
            <div class="training__info">
				<div class="training__info-row">
					<div class="training__info-item">
						<span class="training__info-title">Дистанция</span>
						<span class="training__info-value">{{ activity.distance }}</span><span class="training__info-km">км</span>
					</div>
					<div class="training__info-item">
						<span class="training__info-title">Время</span>
						<span class="training__info-value">{{ activity.moving_time }}</span>
					</div>
					<div class="training__info-item">
						<span class="training__info-title">Темп</span>
						<span class="training__info-value">{{ activity.pace }}</span><span class="training__info-km">/км</span>
					</div>
				</div>
				<div class="training__info-row">
					<div class="training__info-item">
						<span class="training__info-title">ср. ЧСС</span>
						<span class="training__info-value training__info-value--light">{{ activity.average_heartrate }}</span>
					</div>
					<div class="training__info-item">
						<span class="training__info-title">Каденс</span>
						<span class="training__info-value training__info-value--light">{{ activity.average_cadence }}</span>
					</div>
					<div class="training__info-item">
						<span class="training__info-title">Каллории</span>
						<span class="training__info-value training__info-value--light">{{ activity.calories }}</span>
					</div>
				</div>
            </div>
            <p class="training__additional-info"><span class="training__additional-info-title">Кроссовки: </span>{{ activity.shoes }}</p>
        </li>
		{% endfor %}
    </ul>
</section>
{% endif %}
