<div class="results__group" id="{{ type.key }}">
	<h2 class="results__group-title">{{ type.title }}</h2>

	<div class="results__statistics">
		<p>Всего забегов: <span>{{ type.count }}</span></p>
		<p>Лучший результат: <span>{{ type.pb.time }}</span></p>
	</div>
	<div class="results__table-holder">
		<table class="results-table">
			<tr>
				<th>п/п</th>
				<th>дата</th>
				<th>мероприятие</th>
				<th>время<br> <span>разница с ЛР</span></th>
				<th>темп</th>
				<th colspan="3">место<br> <span>абс / муж / возр</span></th>
			</tr>
			{% for year, results in type.years %}
				<tr>
					<td colspan="9" class="results-table__year">{{ year }}</td>
				</tr>
				{% for result in results %}
					<tr {% if result.is_pb %}class="results-table__pb"{% endif %}>
						<td class="results-table__row-number">{{ loop.revindex }}</td>
						<td>{{ result.event_date }}</td>
						<td class="results-table__place">
							{{ result.title }}<br>
							<span>{{ result.event_place }}</span>
						</td>
						<td class="results-table__result">{{ result.time }}<span>{{ result.diff }}</span></td>
						<td class="results-table__pace">{{ result.pace }}</td>
						<td>{{ result.place_overall }}</td>
						<td>{{ result.place_gender }}</td>
						<td>{{ result.place_age }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
	</div>
</div>
