{% extends "templates/layouts/base.twig" %}

{% block head %}
	<title>Журнал бегуна - История</title>
{% endblock %}

{% block content %}
	<main>
		<div class="history">
			<div class="wrapper history__wrapper">
				<div class="time-line">
					<span class="time-line__designation time-line__designation--left">OCR, трейлы</span>
					<span class="time-line__designation time-line__designation--right">Шоссе</span>
					<ul class="time-line__list">
						{% for year, results  in data %}
							<li class="time-line__year">{{ year }}</li>
							{% for result in results %}
								<li class="event event--{% if result.type == 'ocr' or result.type == 'trail' %}left{% else %}right{% endif %} time-line__item">
									{% if result.is_pb %}
										<span class="event__pb">PB</span>
									{% endif %}
									<div class="event__header">
										<span class="event__date">{{ result.event_date }}</span>
										<span class="event__place">{{ result.event_place }}</span>
									</div>
									<h3 class="event__title">{{ result.title }}</h3>
									<div class="event__distance">{{ result.distance }}<span>км</span></div>
									<div class="event__description">
										{{ result.description }}
									</div>
									<div class="event__result">
										<span class="event__result-time">{{ result.time }}</span>
										{% if result.pace is not empty %}
											<span class="event__result-pace">{{ result.pace }}/км</span>
										{% endif %}
										<table class="event__result-places">
											{% if result.place_overall is not empty %}
												<tr>
													<td>aбс.:</td>
													<td>{{ result.place_overall }}</td>
												</tr>
											{% endif %}
											{% if result.place_gender is not empty %}
												<tr>
													<td>муж.:</td>
													<td>{{ result.place_gender }}</td>
												</tr>
											{% endif %}
											{% if result.place_age is not empty %}
												<tr>
													<td>в. 30 - 38:</td>
													<td>{{ result.place_age }}</td>
												</tr>
											{% endif %}
										</table>
									</div>
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
